{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <div class="content-section">
      <form action="" method="post">
        {% csrf_token %}
        {{ selectCategoryForm }}
        <input type="submit" name="category-button" value="Select">
      </form>
    </div>

    {% for listing in listings %}
      {% if listing.active %}
        <article class="media content-section">
          <img class="index-image align-self-center" src="{{ listing.image_url }}" alt="Item image.">
          <div class="media-body listing-body">
            <h2 class="article-title"><a href="/../listing/{{ listing.pk }}">{{ listing.title }}</a></h2>
            <p>{{ listing.description }}</p>
          </div>
        </article>
      {% endif %}
    {% empty %}
      <p>There are no active listings in that category.</p>
    {% endfor %}
{% endblock %}
