{% extends "auctions/layout.html" %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block body %}

  {% include 'auctions/includes/messages.html' %}

  <article class="media content-section">
    <img class="listing-image" src="{{ listing.image_url }}" alt="Item image.">
    <div class="media-body listing-body">
      <h2 class="listing-title">{{ listing.title }}</h2>
      <p class="listing-description">{{ listing.description }}</p>
      <strong>Current Bid: {{ current_price }}</strong>
      <p>Bids so far: {{ bid_count }}</p>
    </div>
  </article>

  <!-- bid or close bid section -->
  <div class="content-section">
    {% if listing.active %}
      {% if listing.owner == user %}
        <a class="btn btn-danger" href="../../listing/{{ listing.pk }}/close">Close Auction</a>
      {% else %}
        <form action="" method="post">
          {% csrf_token %}
          {{ newBidForm }}
          <input type="submit" name="submit-bid" value="Bid">
        </form>
      {% endif %}
    {% else %}
      <p>Sold!</p>
    {% endif %}


  </div>

  {% if listing.active %}
    <div class="content-section">
      <div>
        {% for comment in comments %}
          <article class="content-section">
            <div>
              <strong>{{ comment.commenter }}: </strong>
            </div>
            <div>
              {{ comment.contents }}
            </div>
          </article>
        {% empty %}
          Be the first to comment!
        {% endfor %}
      </div>
      <div>
        New comment:
        <form action="" method="post">
          {% csrf_token %}
          {{ newCommentForm }}
          <input type="submit" name="submit-comment" value="Comment">
        </form>
      </div>
    </div>
  {% endif %}

{% endblock %}
