{% extends "auctions/layout.html" %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block body %}

  {% include 'auctions/includes/messages.html' %}

  <article class="media content-section">
    <img class="listing-image" src="{{ listing.image_url }}" alt="Item image.">
    <div class="media-body listing-body">
      <h2 class="listing-title">{{ listing.title }}</h2>
      <p class="listing-description">{{ listing.description }}</p>
      <p>Starting bid: {{ listing.starting_bid }}</p>
    </div>
  </article>

  <div class="content-section">
    {% if listing.active %}
      <form action="" method="post">
        {% csrf_token %}
        {{ newBidForm }}
        <input type="submit" name="submit-bid" value="Bid">
      </form>
    {% else %}
      <p>Sold!</p>
    {% endif %}
  </div>

  {% if object.owner == user %}
    <div class="content-section">
      <p>You're the owner!</p>
    </div>
  {% endif %}

{% endblock %}
