{% extends "auctions/layout.html" %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block body %}

  {% include 'auctions/includes/messages.html' %}

  <article class="media content-section">
    <img class="listing-image" src="{{ listing.image_url }}" alt="Item image.">
    <div class="media-body listing-body">
      <div class="name-section"><small class="name-section">Posted by: {{ listing.owner }}</small></div>
      <h1 class="listing-title">{{ listing.title }}</h1>
      <!-- add to watchlist -->
      {% if request.user.is_authenticated and listing.active and not listing.owner == user %}
        <form action="" method="post">
          {% csrf_token %}
          <button class="watch-button" type="submit" name="watch-button">Watchlist</button>
        </form>
      {% endif %}
      <p class="listing-description">{{ listing.description }}</p>
    </div>
  </article>

  <!-- bid or close bid section -->
  <div class="bid-section">
    <strong>Current Bid: {{ current_price }}</strong>
    <p>Bids so far: {{ bid_count }}</p>
    {% if listing.active %}
      {% if listing.owner == user %}
        <a class="btn btn-danger" href="../../listing/{{ listing.pk }}/close">Close Auction</a>
      {% else %}
        <form action="" method="post">
          {% csrf_token %}
          {{ newBidForm }}
          <input type="submit" name="submit-bid" value="Bid">
        </form>
      {% endif %}
    {% else %}
      <p>Sold!</p>
      {% if high_bidder == user %}
        <p>Congratulations! You won!</p>
      {% endif %}
    {% endif %}
  </div>

  <!-- Comments section -->
  {% if listing.active %}
    <div class="comment-section">
      <div>
        {% for comment in comments %}
          <article class="content-section">
            <div>
              <strong>{{ comment.commenter }}: </strong>
            </div>
            <div>
              {{ comment.contents }}
            </div>
          </article>
        {% empty %}
          <p>Be the first to comment!</p>
        {% endfor %}
      </div>
      <div>
        New comment:
        <form action="" method="post">
          {% csrf_token %}
          {{ newCommentForm.as_ul }}
          <input type="submit" name="submit-comment" value="Post Comment">
        </form>
      </div>
    </div>
  {% endif %}

{% endblock %}
